@{
    ViewData["Title"] = "About Us";
}

<body>
    <div class ="aboutTop">
        <div class="container">
            <div class="title">
                <h1>About Us</h1>
                <h3><em>We are Group 1 and here's more information about us!'</em></h3>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="section-heading">
                    <h2>Meet Jose!</h2>
                </div>
                <div class="left-image">
                    <img class="img-fluid" src="~/images/Jose.jpeg" alt="Jose Picture" width="300px" height="300px">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="right-content">
                    <p>Hello there, my name is Jose! I'm an Information Technology student from Peru, I really like playing videogames, photography and technology. Technology is constantly evolving and I'm really interested on seeing what the future will bring. I'm looking forward to become a professional Software developer in the future.</p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
                <div class="section-heading">
                    <h2>Meet Adam!</h2>
                </div>
                <div class="left-image">
                    <img class="img-fluid" src="~/images/.jpeg" alt="" width="300px" height="300px">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="right-content">
                    <p>Hi! My name is Adam. I am majoring in Information Technology following the Software Development track. I am from Blanchester, Ohio (basically drive until you see corn fields and you are probably in the right area). I enjoy restoring and working on cars. I also enjoy software development, which is why I am following that track.</p>
                </div>
            </div>
        </div>
</body>

