@{
    ViewData["Title"] = "About Us";
}

<section>
    <div class="container">
        <div>
            <h1>Meet the Team!</h1>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <h3>Meet Jose!</h3>
            <p>Hello there, my name is Jose! I'm an Information Technology student from Peru, I really like playing videogames, photography and technology. Technology is constantly evolving and I'm really interested on seeing what the future will bring. I'm looking forward to become a professional Software developer in the future.'</p>
        </div>
    </div>
</section>
