@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="HomeTop">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>We are Group 1 and this is our Web Server App Final Project.</p>
        </div>
    </div>
    <div class="Description">
        <div class="container-fluid">
            <h1>How was the project developed?</h1>
            <div class="rowHome">
                <div class="col-lg-5">
                    <div class="home-left-image">
                        <img class="img-fluid" src="~/images/project.jpg" alt="Project Image">
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="right-content1">
                        <p>This project has been built using ASP.NET Core 6, Bootstrap, HTML and CSS. The use of SQL database was also utilized
                            to create the tables and store our hobbies data there.
                        </p>
                        <p>The hobbies we included are:</p>
                        <ul>
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="Hobbies" asp-action="Games">Games</a>
                            </li>
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="Hobbies" asp-action="Trumpet">Trumpets</a>
                            </li>
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="Hobbies" asp-action="Cars">Cars</a>
                            </li>
                        </ul>
                        <p>Feel free to navigate across the web application.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

