html {
    font-size: 14px;
}

body {
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}

#titleButton {
    padding-bottom: 10px;
}

#navbarNav {
    width: 100vw;
    background-color: #192024;
    font-weight: bold;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    margin: 0;
    justify-content: flex-end;
    padding: 0.5em 0;
}

li {
    padding-right: 1em;
}

    li a::after {
        content: '';
        position: inherit;
        display: block;
        height: 0.4em;
        width: 0%;
        background-color: #ff4081;
        transition: all ease-in-out 250ms;
    }

    li a:hover::after {
        width: 100%;
    }

.navbar .navbar-nav .nav-link {
    color: white;
}

    .navbar .navbar-nav .nav-link:hover {
        color: #ff4081;
        transition: all ease-in-out 250ms;
    }

.Description ul {
    margin-left: 40px;
}

.Description li a {
    font-size: 18px;
    font-weight: 700;
    color: #ff4081;
}

    .Description li a::after {
        content: '';
        position: inherit;
        display: block;
        height: 0.4em;
        width: 0%;
        background-color: #192024;
        transition: all ease-in-out 250ms;
    }

.Description .nav-link:hover {
    width: max-content;
    color: #192024;
    transition: all ease-in-out 250ms;
}

.container-fluid {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.HomeTop {
    padding-top: 70px;
    background-image: url(../images/team.jpg);
    background-size: cover;
    width: 100%;
    height: 250px;
}

    .HomeTop h1 {
        font-size: 64px;
        color: white;
    }

    .HomeTop p {
        font-size: 20px;
    }

.DataTop {
    padding-top: 70px;
    background-image: url(../images/database.jpg);
    background-size: cover;
    width: 100%;
    height: 250px;
}

    .DataTop h1 {
        font-size: 64px;
        color: white;
    }

.DataTop p {
    font-size: 20px;
    color: white;
}

.Description {
    padding-top: 30px;
    padding-left: 50px;
}

    .Description h1 {
        font-weight: bold;
    }

.aboutTop {
    padding-top: 70px;
    background-image: url(../images/devTeam.jpg);
    width: 100%;
    height: 250px;
}

.row {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section-heading {
    margin-bottom: 15px;
}

    .section-heading h2 {
        font-size: 32px;
        font-weight: 700;
        text-transform: capitalize;
        color: #2a2a2a;
        line-height: 32px;
        letter-spacing: -0.5px;
    }

.left-image {
    overflow-x: hidden;
    margin-right: auto;
}

    .left-image img {
        border-radius: 20.5px;
    }

.rowHome {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
} 
.home-left-image {
    overflow-x: hidden;
    margin-right: 10px;
}

    .home-left-image img {
        border-radius: 13.5px;
        width: 900px;
        height: 400px;
    }

.right-content1 {
    margin-left: 20px;
    margin-top: 25px;
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    color: #2a2a2a;
    line-height: 32px;
    letter-spacing: -0.5px;
}

.right-content {
    margin-left: 0;
    margin-top: 40px;
    padding-top: 10px;
    font-size: 22px;
    font-weight: 700;
    color: #2a2a2a;
    line-height: 32px;
    letter-spacing: -0.5px;
}

.title h1 {
    font-size: 48px;
    color: white;
}

em {
    color: white;
}
.mustang img {
    width: 25%;
    height: 25%;
    border-radius: 5%;
}

.carsTop {
    padding-top: 70px;
    background-image: url(../images/carsHeader.jpg);
    background-size: cover;
    width: 100%;
    height: 250px;
}
.memberHead img {
    width: 7%;
    height: 7%;
    border-radius: 50%;
    margin-right: 15px;
    float: left;
}

.memberHead h1{
    text-align: inherit;
    padding-bottom: 50px;
}

.Description p {
    font-size: 18px;
    font-weight: 400;
}

.Description table {
    width: 40%;
    border-radius: 1em;
    overflow: hidden;
}

.Description tr:nth-child(even) {
    background-color: #f2f2f2;
}

.Description tr:hover {
    background-color: #ddd;
    transition: all ease-in-out 250ms;
}

.Description th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #192024;
    color: white;
}

.OurData {
    padding-top: 20px;
    padding-left: 40px;
}

    .OurData table {
        width: 40%;
        border-radius: 1em;
        overflow: hidden;
    }

    .OurData tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .OurData tr:hover {
        background-color: #ddd;
        transition: all ease-in-out 250ms;
    }

    .OurData th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #192024;
        color: white;
    }

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    .right-content {
        margin-left: 10px;
        margin-top: 0px;
        font-size: 22px;
        font-weight: 700;
        color: #2a2a2a;
        line-height: 32px;
        letter-spacing: -0.5px;
    }

    .left-image img {
        width: 80%;
        height: 80%;
        border-radius: 20.5px;
        align-content: center;
        margin-left: 90px;
    }

    .section-heading h2 {
        font-size: 32px;
        font-weight: 700;
        text-transform: capitalize;
        color: #2a2a2a;
        line-height: 32px;
        letter-spacing: -0.5px;
        padding-left: 10px;
    }
}

@media (max-width: 768px) {
    .right-content {
        margin-left: 10px;
        margin-top: 0px;
        font-size: 22px;
        font-weight: 700;
        color: #2a2a2a;
        line-height: 32px;
        letter-spacing: -0.5px;
    }

    .left-image img {
        border-radius: 20.5px;
        align-content: center;
    }
}

@media (max-width: 572px) {
    .right-content {
        margin-left: 10px;
        margin-top: 0px;
        font-size: 20px;
        font-weight: 700;
        color: #2a2a2a;
        line-height: 32px;
        letter-spacing: -0.5px;
    }

    .left-image img {
        width: 80%;
        height: 80%;
        border-radius: 20.5px;
        align-content: center;
        margin-left: 60px;
    }
}

@media (max-width: 358px) {
    .right-content {
        margin-left: 10px;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 700;
        color: #2a2a2a;
        line-height: 32px;
        letter-spacing: -0.5px;
    }

    .left-image img {
        margin: auto;
        border-radius: 20.5px;
        align-content: center;
        margin-left: 35px;
    }
    }
    .cars {
        margin-right: 0px;
        float: none;
        padding-right:30px;
        padding-left: 30px;
    }
}

