@{
    ViewBag.Title = "Jose's Hobby!";
}
<section>
    <div class="Description">
        <div class="memberHead">
            <img class="img-fluid" src="~/images/Adam.jpg" alt="Avatar">
            <br />
            <h1>Adam's Hobby!</h1>
        </div>
    </div>
</section>