@model Web_Server_App_Final_Project.Models.HobbyViewModel
@{
    ViewBag.Title = "Adam's Hobby!";
}
<section>
    <div class="carHead">
        <img class="img-fluid" src="~/images/Adam.jpg" alt="Avatar">
    </div>
    <div class="carsTop">
        <div class="container">
            <div class="title">
                <h1>Adam's Hobby!</h1>
            </div>
        </div>
    </div>
    <div class="Description">
        <p>One of my hobbies is to work on cars. I am currently restoring a 1969 Ford Mustang with my dad.</p>
        <div class="mustang">
            <p>Here is a picture of the progress so far. All that is left is a paint job and interior work!</p>
            <img src="~/images/mustang.jpg" alt="1969 Mustang"/> <p>It is currently all original with an inline-6 250 cubic inch engine!</p>
        </div>
        </div>
        <div class="cars">
            <p>Here are some other projects I am working on.<br /><br />The Ford Focus is just my daily driver, so nothing major there.</p>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr><th>Year</th><th>Make</th><th>Model</th></tr>
                </thead>
                <tbody>
                    @foreach (var cars in Model.Cars)
                    {
                        <tr>
                            <td>@cars.Year</td>
                            <td>@cars.Make</td>
                            <td>@cars.Model</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /><br /><br />
</section>